<div class="budget-list">
  <h1>Budget List</h1>
  <div class="add-budget-item">
    <input [(ngModel)]="newBudgetItem.name" placeholder="Enter purpose" />
    <input [(ngModel)]="newBudgetItem.amount" placeholder="Enter amount" type="number" />
    <button (click)="addBudgetItem()">Add Budget Item</button>
  </div>

  <h2>Budget Home:</h2>
  <ul>
    <li *ngFor="let item of getBudgetItems(); let i = index">
      {{ item.name }} - Amount: ${{ item.amount }}
      <button (click)="removeItem(i)">Remove</button>
    </li>
  </ul>
</div>
