<div class="employee-list-container">
  <p>Add information of Employee:</p>

  <input type="text" [(ngModel)]="name" placeholder="Enter employee name" />
  <input type="text" [(ngModel)]="position" placeholder="Enter position" />
  <input type="text" [(ngModel)]="department" placeholder="Enter department" />

  <button (click)="addEmployee()">Add Employee</button>

  <ul>
    <li *ngFor="let employee of employeeList; let i = index">
      Name: {{ employee.name }} , Position: {{ employee.position }}, Department: {{ employee.department }}
      <button class="remove-btn" (click)="removeEmployee(i)">Remove</button>
    </li>
  </ul>
</div>
