nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

nav ul li {
  flex: 1 0 9%;
  margin: 1%;
}

nav ul li a {
  display: block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: #333;
  border: 2px solid #000000;
  border-radius: 4px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #00ffff;
}
