<nav>
  <ul>
    <li><a routerLink="">1.Student List</a></li>
    <li><a routerLink="employeelist">2.Employee List</a></li>
    <li><a routerLink="fruitlist">3.Fruit List</a></li>
    <li><a routerLink="courselist">4.Course List</a></li>
    <li><a routerLink="booklist">5.Book List</a></li>
    <li><a routerLink="citylist">6.City List</a></li>
    <li><a routerLink="movielist">7.Movie List</a></li>
    <li><a routerLink="carmodellist">8.Car Model List</a></li>
    <li><a routerLink="productlist">9.Product List</a></li>
    <li><a routerLink="subjectlist">10.Subject List</a></li>
    <li><a routerLink="countrylist">11.Country List</a></li>
    <li><a routerLink="sportlist">12.Sport List</a></li>
    <li><a routerLink="vegetablelist">13.Vegetable List</a></li>
    <li><a routerLink="animallist">14.Animal List</a></li>
    <li><a routerLink="toollist">15.Tool List</a></li>
    <li><a routerLink="languagelist">16.Language List</a></li>
    <li><a routerLink="gamelist">17.Game List</a>
    <li><a routerLink="softwarelist">18.Software List</a></li>
    <li><a routerLink="phonecontactlist">19.Phone Contact List</a></li>
    <li><a routerLink="musicplaylist">20.Music Play List</a></li>
    <li><a routerLink="foodmenulist">21.Food Menu List</a></li>
    <li><a routerLink="grocerylist">22.Grocery List</a></li>
    <li><a routerLink="classroomlist">23.Classroom List</a></li>

  </ul>
</nav>
<router-outlet></router-outlet>
