<nav>
  <ul>
    <li><a routerLink="">1.Student List</a></li>
    <li><a routerLink="employeelist">2.Employee List</a></li>
    <li><a routerLink="fruitlist">3.Fruit List</a></li>
    <li><a routerLink="courselist">4.Course List</a></li>
    <li><a routerLink="booklist">5.Book List</a></li>
    <li><a routerLink="citylist">6.City List</a></li>
    <li><a routerLink="movielist">7.Movie List</a></li>
    <li><a routerLink="carmodellist">8.Car Model List</a></li>
    <li><a routerLink="productlist">9.Product List</a></li>
    <li><a routerLink="subjectlist">10.Subject List</a></li>
    <li><a routerLink="countrylist">11.Country List</a></li>
    <li><a routerLink="sportlist">12.Sport List</a></li>
    <li><a routerLink="vegetablelist">13.Vegetable List</a></li>
    <li><a routerLink="animallist">14.Animal List</a></li>
    <li><a routerLink="toollist">15.Tool List</a></li>
    <li><a routerLink="languagelist">16.Language List</a></li>
    <li><a routerLink="gamelist">17.Game List</a>
    <li><a routerLink="softwarelist">18.Software List</a></li>
    <li><a routerLink="phonecontactlist">19.Phone Contact List</a></li>
    <li><a routerLink="musicplaylist">20.Music Play List</a></li>
    <li><a routerLink="foodmenulist">21.Food Menu List</a></li>
    <li><a routerLink="grocerylist">22.Grocery List</a></li>
    <li><a routerLink="classroomlist">23.Classroom List</a></li>
    <li><a routerLink="inventorylist">24.Inventory List</a></li>
    <li><a routerLink="lecturelist">25.Lecture List</a></li>
    <li><a routerLink="stationarylist">26.Stationary List</a></li>
    <li><a routerLink="flowerlist">27.Flower List</a></li>
    <li><a routerLink="destinationlist">28.Destination List</a></li>
    <li><a routerLink="laptoplist">29.Laptop List</a></li>
    <li><a routerLink="laptopspecificationlist">30.Laptop Specification List</a></li>
    <li><a routerLink="computerhardwarelist">31.Computer Hardware List</a></li>
    <li><a routerLink="mobileapplist">32.Mobile App List</a></li>
    <li><a routerLink="videolist">33.Video List</a></li>
    <li><a routerLink="showlist">34.Show List</a>
    <li><a routerLink="furniturelist">35.Furniture List</a></li>
    <li><a routerLink="accessorylist">36.Accessory List</a></li>
    <li><a routerLink="buildinglist">37.Building List</a></li>
    <li><a routerLink="paintinglist">38.Painting List</a></li>
    <li><a routerLink="artistlist">39.Artist List</a></li>
    <li><a routerLink="composerlist">40.Composer List</a></li>
    <li><a routerLink="podcastlist">41.Podcast List</a></li>
    <li><a routerLink="exerciselist">42.Exercise List</a></li>
    <li><a routerLink="mealplanlist">43.Meal Plan List</a></li>
    <li><a routerLink="budgetlist">44.Budget List</a></li>
    <li><a routerLink="presentationlist">45.Presentation List</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
