<nav>
  <ul>
    <li><a routerLink="">1.Student List</a></li>
    <li><a routerLink="employeelist">2.Employee List</a></li>
    <li><a routerLink="fruitlist">3.Fruit List</a></li>
    <li><a routerLink="courselist">4.Course List</a></li>
    <li><a routerLink="booklist">5.Book List</a></li>
    <li><a routerLink="citylist">6.City List</a></li>
    <li><a routerLink="movielist">7.Movie List</a></li>
    <li><a routerLink="carmodellist">8.Car Model List</a></li>
    <li><a routerLink="productlist">9.Product List</a></li>
    <li><a routerLink="subjectlist">10.Subject List</a></li>
    <li><a routerLink="countrylist">11.Country List</a></li>
    <li><a routerLink="sportlist">12.Sport List</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
