<div class="presentation-list">
  <h1>Presentation List</h1>
  <div class="add-presentation">
    <input [(ngModel)]="newPresentation.topic" placeholder="Topic" />
    <input [(ngModel)]="newPresentation.presenter" placeholder="Presenter Name" />
    <button (click)="addPresentation()">Add Presentation</button>
  </div>

  <h2>Presentations and Presenters:</h2>
  <ul>
    <li *ngFor="let presentation of getPresentations(); let i = index">
      {{ presentation.topic }} - Presented by {{ presentation.presenter }}
      <button (click)="removeItem(i)">Remove</button>
    </li>
  </ul>
</div>
